
@model string

<div class="text-center">
	<h1>Thank you for your order<img class="mb-2 mx-2" width="50px" src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_1280.png" /></h1>
	<h5 class="my-3">we will sent you on your email <span class="text-success">@Model</span> with your movies ticket</h5>
	<div class="d-flex justify-content-center">
		<img width="400px" src="https://cdn.dribbble.com/users/571236/screenshots/2888472/happystate.gif" />
	</div>
</div>