@model Movie


<div class="my-5">
	<form method="post" asp-controller="Movies" asp-action="Edit">
		<h2 class="my-4">Edit Movie</h2>
		<div class="my-3">
			<label class="mb-1" asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>


		<div class="my-3">
			<label class="mb-1" asp-for="Price"></label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>

		<div class="my-3">
			<label class="mb-1" asp-for="Description"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="my-3">
			<label class="mb-1" asp-for="ImageUrl"></label>
			<input asp-for="ImageUrl" class="form-control" />
			<span asp-validation-for="ImageUrl" class="text-danger"></span>
		</div>

		<div class="my-3">
			<label class="mb-1">Video Id</label>
			<input asp-for="TrailerUrl" class="form-control" />
			<span asp-validation-for="TrailerUrl" class="text-danger"></span>
		</div>

		<div class="my-3">
			<label class="mb-1" asp-for="StartDate"></label>
			<input asp-for="StartDate" class="form-control" />
			<span asp-validation-for="StartDate" class="text-danger"></span>
		</div>

		<div class="my-3">
			<label class="mb-1" asp-for="EndDate"></label>
			<input asp-for="EndDate" class="form-control" />
			<span asp-validation-for="EndDate" class="text-danger"></span>
		</div>

		<div class="my-4">
			<label class="mb-1">Category</label>
			<select class="form-control" asp-for="CategoryId" asp-items="ViewBag.CatId">
			</select>
		</div>

		<div class="my-4">
			<label class="mb-1">Cinema</label>
			<select class="form-control" asp-for="CinemaId" asp-items="ViewBag.cinemaId">
			</select>
		</div>

		<div class="my-4">
			<button class="btn btn-primary" type="submit">Save</button>
			<a class="btn btn-info mx-2" asp-controller="Movies" asp-action="Index">Back</a>
		</div>

	</form>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}